<h1 class="page-header">Register ...</h1>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>Rgistration page</h2> <hr>
      <div class="row show-hide-message"><div [ngClass]="messageClass" > {{message}} </div></div>
      <form [formGroup]="form" (submit)="onRegisterSubmit()" >

        <div class="form-group">
       <!--   <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fname"> First Name</label>
              <div>
                <input type="text" name="fname" class="form-control" autocomplete="off" placeholder="*First Name">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lname"> Last Name</label>
              <div>
                <input type="text" name="lname" class="form-control" autocomplete="off" placeholder="*Last Name">
              </div>
            </div>
          </div>
        </div> -->
          <label for="username"> Username</label>
          <div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty) , 'has-success':!form.controls.username.errors && usernameValid }" >
            <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Username" formControlName="username" (blur)="checkUsername()" >
            <ul class="help-block">
              <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required</li>
              <li *ngIf="form.controls.username.errors?.minlenght || form.controls.username.errors?.maxlenght" >Minimum characters: 3, Maximum characters 15</li>
              <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Username MUST not have special characters</li>
              <!--<li *ngIf="!form.controls.username.errors && form.controls.username.dirty">Username is valid</li> -->
              <li *ngIf= "usernameMessage"> {{ usernameMessage }} </li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="email"> Email</label>
          <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty) , 'has-success':!form.controls.email.errors && emailValid }" >
            <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*Email" formControlName="email" (blur)="checkEmail()" >
            <ul class="help-block">
              <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
              <li *ngIf="(form.controls.email.errors?.minlenght || form.controls.email.errors?.maxlenght) && form.controls.email.dirty" >Minimum characters: 5, Maximum characters 30</li>
              <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">Must be a valid e-mail</li>
             <!-- <li *ngIf="!form.controls.email.errors && form.controls.email.dirty">Email is valid</li> -->
              <li *ngIf="emailMessage" > {{ emailMessage }} </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <!-- Password Input -->
            <div class="form-group">
              <label for="password">Password</label>
              <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
                <input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Password" formControlName="password" />
                <!-- Validation -->
                <ul class="help-block">
                  <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
                  <li *ngIf="form.controls.password.errors?.validatePassword  && form.controls.password.dirty">Password, Must have at least one uppercase, lowercase, special character, and number</li>
                  <li *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">Minimum characters: 4, Maximum characters: 35</li>
                  <li *ngIf="!form.controls.password.errors && form.controls.password.dirty">Password is valid</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="repassword"> Confirm Password</label>
              <div [ngClass]="{'has-error': (form.controls.repassword.errors && form.controls.repassword.dirty) || (form.errors?.matchingPasswords && form.controls.repassword.dirty), 'has-success':!form.controls.repassword.errors && !form.errors?.matchingPasswords}" >
                <input type="password" name="repassword" class="form-control" autocomplete="off" placeholder="******" formControlName="repassword" >
                <ul class="help-block">
                  <li *ngIf="form.controls.repassword.errors?.required && form.controls.repassword.dirty">This field is required</li>
                  <li *ngIf="form.errors?.matchingPasswords && form.controls.repassword.dirty" >Paswword do not match, Please type again...</li>
                  <li *ngIf="!form.errors?.matchingPasswords && form.controls.repassword.dirty" >Password does match</li>
                </ul>
              </div>
            </div>
          </div>
        </div> <br><br>
        <input [disabled]="!form.valid || processing || !usernameValid || !emailValid" type="submit" class="btn btn-success" value="Register">
      </form>
    <!-- <hr>
      <p>Username: {{ form.controls.username.value }} </p>
      <p>email: {{ form.controls.email.value }} </p>
      <p>password: {{ form.controls.password.value }} </p>
  -->
      
    </div>
    <div class="col-md-2"></div>
  </div>

</div>